---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$primary-color: #faa916;
$code-background-color: #efcc90;

code {
  /* force background code highlighting inside headings & all other elements too */
  background: $code-background-color;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
